*{
    margin:0;
    padding:0;
}

body{
    background: #fcfc92;
}

.container{
    width: 90%;
    height: 100vh;
    margin:auto;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    flex-direction: row;
    display: flex;
    align-items: center;
}

.mt-3{
    margin-top: 30px;
}

button{
    color: green;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin:10px;
}

