*{
    margin:0;
    padding:0;
}

.container{
    width: 1200px;
    height: 100vh;
    margin:auto;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    flex-direction: row;
    display: flex;
    align-items: center;
}

.mt-3{
    margin-top: 30px;
}

button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin:10px;
}

